[2016-09-22 12:40] SupriyaKalghatgi opened #5 "Build Failed"
Unable to resolve module HSText from react-native-hackathon-starter/src/home/Home.js in its module map

[2016-09-22 23:03] ajma commented on #5
I'm getting the same problem

[2016-09-22 23:44] dabit3 commented on #5
Sorry about that! I'm about to uplaod a new version. for now, `import { Text , ... }` from 'react-native-elements' and delete the other import. Thanks for bringing this to my attention.

[2016-09-23 00:02] dabit3 commented on #5
Just pushed up a new build and this is fixed! Thanks @ajma @SupriyaKalghatgi

[2016-09-23 00:02] #5 closed

[2016-09-27 06:05] ssssssssssss opened #6 "Extremely slow on real iOS10 device"
Dear all,

I've been running this project on real device, but faced an extremely slow response while clicking side menu and the 3rd tabbar. It looks like it's "rendering" a real large UI set.

Device: iPhone 6s
OS: iOS 10
Toolchain: XCode 8 (Didn't change compile flags)

[2016-09-27 13:55] SupriyaKalghatgi commented on #6
+1

[2016-09-30 01:46] ekhall commented on #6
I was having this same problem but upgraded to RN 0.34.1 and changed the scheme to Release. That seems to have helped.

[2016-09-30 02:32] ssssssssssss commented on #6
@ekhall Upgraded to 0.34.1 and change the scheme to release mode doesn't help.

[2016-10-01 17:39] dabit3 commented on #6
Using the release scheme seems to be working super fast on my end. @ssssssssssss @SupriyaKalghatgi any way you an upload your build to a repo and let me take a look?

[2016-10-12 18:43] jamesholcomb commented on #6
I upgraded to 0.34.1 but it's very slow when transitioning from About to Contact (7s) on iOS 9.3 sim.

[2016-10-13 06:54] SupriyaKalghatgi commented on #6
@dabit3 Usually apps lag in debug mode
But this app runs extremely slow in debug mode compared to other apps

[2016-10-13 13:27] jamesholcomb commented on #6
Changing the `ref` string attributes to callback attributes on the `<InputForm>` elements in Contact.js fixed the transition lag.

[2016-10-13 14:41] dabit3 commented on #6
@jamesholcomb Thanks for figuring this out. I was having a hard time finding the issue. I'll see if I can't figure out why using the ref attributes is causing the slowdown..

[2016-10-24 06:01] phpsmarter opened #8 "dispatch is undefined"
./homerootcontainer
inject a  dispatch
`function mapDispatchToProps (dispatch) {
  return {dispatch}
}
 export default connect(mapStateToProps, mapDispatchToProps)(HomeNav);

./Home
`componentDidMount() {
     const { dispatch }=this.props;
     console.log(typeof(dispatch));return;

  }

  typeof dispatch is undefined.

How can do?

[2016-10-29 02:09] infacq opened #9 "Build Failed"
[code]

[2016-11-02 05:49] pranavrajs commented on #9
Try adding Bundle Identifier in Xcode Project. See this. https://github.com/facebook/react-native/issues/7308

[2016-11-07 15:41] dabit3 commented on #9
Just updated the repo to fix this, thanks for pointing it out!

[2016-11-07 15:41] #9 closed

[2016-11-07 15:41] #8 closed

[2016-11-07 15:55] dabit3 commented on #6
This has been fixed in the latest release.

[2016-11-07 15:55] #6 closed

[2016-11-13 13:26] Boredude opened #10 "react-native link hangs"
the console is stuck after running _"react-native link"_ command

$ react-native link
rnpm-install info Linking react-native-vector-icons android dependency
rnpm-install info Android module react-native-vector-icons has been successfully linked
rnpm-install info iOS module react-native-vector-icons is already linked
rnpm-install info Linking assets to ios project
rnpm-install info Linking assets t

[2016-11-13 20:49] #10 closed

[2016-11-18 11:38] itagakixt opened #11 "AppRootContainer called from ios but Android where?"
Hello react-native-hackathon-starter,

I'm just studying this APL, and have one question.

AppRootContainer is called in IOS as follows.

import AppRootContainer from './src/AppRootContainer'
const Rera = () => (
  <AppRootContainer />
)

but I can't see the point where AppRootContainer is called  in Android.

 in Android environment, Please explain the structure of this?

Thanks
Shoji

[2016-11-19 06:21] itagakixt commented on #11
Hello react-native-hackathon-starter,

I checked original version of react-native-hackathon-starter.
And there are same, index.android.js and index.ios,js.

Perhaps I made mistake on react-native upgrade.
Sorry for bother you.

Thanks
Shoji

[2016-11-19 06:21] #11 closed

[2016-11-28 12:05] itagakixt opened #12 "tab section call Navigator , is it a problem?"
hello,

Using react-native-hackathon-starter, I incorporated one application into this environment.
my application is calling Navigator in render section.
I wonder this kind of using Navigator will make a problem or not.
I did not study deeply both environment.

Currently my application seems to works without error.

I 'm afraid futures problem.

Any suggestion appreciated.

Thanks
Shoji

[2016-11-28 20:03] itagakixt opened #13 "Button's onPress cannot call a lass as a function"
Hello,

I expect button will open another screen.

I create a test program to call another class using button's onPress.
But it failed with error(cannot call a lass as a function).

<Button
          small
          backgroundColor={socialColors.facebook}
          onPress={() => Home1()}
          title='Information'
          buttonStyle={styles.button} />

How can I call class Button's onPress?

[2016-11-28 23:49] itagakixt commented on #13
There are many code like this.

onPress={() => console.log('something')}

Is there any example not console but real class?

Thanks
Shoji

[2016-12-23 01:06] Monte9 commented on #12
Hi @itagakixt! As long as your class is named `Navigator` and you use this same name in the render method it should be fine.
One of the easiest ways to figure out if it's a problem is your application won't run. In your case it seems to be working fine, so I wouldn't worry about it.

[2016-12-23 01:06] Monte9 commented on #12
/cc @dabit3 you can close this issue imo.

[2016-12-23 01:15] Monte9 commented on #13
@itagakixt Here's an example of a onPress that is not a console.log
[code]

Also, from what I understand, you are trying to navigate to another Class's view onPress right? For something like this, you might want to consider using a navigation library. Here's one you can check out: https://github.com/exponent/ex-navigation

[2016-12-23 01:15] Monte9 commented on #13
/cc @dabit3 issue can be closed imo.

[2016-12-23 13:43] dabit3 commented on #12
@Monte9 thanks!

[2016-12-23 13:43] #12 closed

[2016-12-23 13:43] #13 closed

[2016-12-24 05:51] itagakixt commented on #13
Thanks for the reply and pointer!

I will check your pointer.

Thanks

[2017-01-05 03:26] dustinromey opened #15 "Hide Tabs?"
I'm pushing a new route, and wondering how I might hide the Tab Bar in certain routes?

[2017-01-09 06:22] Monte9 commented on #15
@dustinromey `react-native-elements` uses [react-native-tab-navigator](https://github.com/exponent/react-native-tab-navigator). Check this [link](https://github.com/exponent/react-native-tab-navigator#hiding-the-tab-bar) to see how you can hide the tab bar using styles on the `Tab` component

Here's how I have implemented this in a couple of my projects.

[code]

Also you can pass the func `hideTa

[2017-01-09 06:22] #15 closed

[2017-01-09 15:56] dustinromey commented on #15
Helpful, thanks!

[2017-01-16 06:23] anhchuyen opened #19 "I don't see the left sidebar."
This new release has issue with left sidebar, I don't see it when running on IOS emulator..
![screen shot 2017-01-16 at 1 21 44 pm](https://cloud.githubusercontent.com/assets/5973048/21972835/fbbe4f7a-dbee-11e6-9172-51e812b76bad.png)

[2017-01-21 09:55] Monte9 commented on #19
@anhchuyen This should be fixed in the PR #16

PR has been merged into master. Pull changes from master and this issue should be resolved.

[2017-01-21 09:58] #19 closed

[2017-01-22 16:43] anhchuyen commented on #19
thank you!

[2017-02-14 12:30] bluedusk opened #20 "Error when run-ios"
Hi, I got an error like this when I try to run-ios, any idea what's going on here? many thanks.

`View` has no propType for native prop `RCTView.flexGrow` of native type `float`
If you haven't changed this prop yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go away.

verifyPropTypes
    verifyPropTypes.js

[2017-02-14 13:02] #20 closed

[2017-03-05 14:50] izambasiron opened #21 "Need to toggle sidemenu twice after closing."
`isOpen` flag is not marked as false on closed.

Steps:
1. Launch app.
2. Open side menu by pressing hamburger icon.
3. Close side menu by tapping anywhere outside the sidemenu.
4. Press hambuger icon.

Expected result:
Sidemenu opens.

Actual result:
Sidemenu remain closed.

[2017-03-13 18:24] Monte9 commented on #21
Good catch!

Thanks for the PR @izambasiron. It's been merged.

[2017-03-13 18:24] #21 closed

[2017-03-19 06:30] izambasiron opened #24 "Stuttering when scrolling to bottom of About page on Android"
Platform:
Android

Steps:
1. Launch app on Android
2. Tap on About
3. Scroll all the way to bottom

Expected result:
Scroll smoothly

Actual result:
Stutter at Half_Dome_from_Glacier_Point

[2017-04-02 21:53] Monte9 commented on #24
Good catch @izambasiron!

PR #25 has been merged. Thanks.

[2017-04-02 21:53] #24 closed

[2017-04-08 08:51] anandmani commented on #6
Sorry, I'm new to Mobile development. What do you mean by 'release scheme'?

[2017-04-14 15:59] michaltaberski opened #27 "Slow android tab changes"
Hey,

I am playing with the app on iPhone 7 and Nexus 5X. On both devices I have installed the app via Expo.

On iPhone the app is working decently, but on Nexus its quite slow. I wonder what's the reason.

- is it navigation lib slow?
- is it because of the expo?
- react-native-elements are too heavy?

I am looking for a right tech stack for the app I plan to build and I am confused with the perf

[2017-04-26 08:55] dyaacov commented on #27
Happens to me as well, I'm using Nexus 5x
Not only tabs, also button1 button2 in Components page

[2017-05-15 03:23] Monte9 commented on #27
@michaltaberski not sure why this would be an issue.

Just fyi, this library has been moved into React Native Elements core library under `/example` folder.
We have reimplemented the entire app from scratch using Expo & `react-navigation` and also updated it to include all the latest component for RNE.

- Here's the link to the app: https://expo.io/@monte9/react-native-elements-app
- Also here's t

[2017-05-15 03:23] #27 closed

[2017-05-30 04:58] SidMehta commented on #10
Hey @Boredude . Were you able to solve this issue?

[2017-06-02 08:18] isnifer commented on #10
Hey, @Boredude did you solve this issue?

[2018-01-21 21:21] deadcoder0904 opened #30 "Pricing tab not working on iOS Simulator"

[2018-01-22 06:26] bayulse commented on #30
on Android aswell

[2018-01-22 06:50] SupriyaKalghatgi opened #31 "Page does not scroll up when input hides under keypad"
Checked this from expo https://expo.io/@monte9/react-native-elements-app

[2018-01-22 06:54] SupriyaKalghatgi opened #32 "Lists screen from footer is broken for cards"
Check from expo https://expo.io/@monte9/react-native-elements-app

[2018-01-23 13:23] iRoachie opened #33 "Textfields don't receive focus on first load"
ref https://github.com/react-native-elements/react-native-elements/issues/829

[2018-01-24 17:35] LouisJS opened #35 "[Suggestions] Icons Library"
Expo added a support for the Icon (https://docs.expo.io/versions/latest/guides/icons.html)

So you could use `@expo/vector-icons` instead of ` react-native-vector-icons`.
`@expo/vector-icons` is built on top of it so it has the same amount of icons and is compatible with Expo App.

Might be interesting to switch to  it 🌟

[2018-01-28 20:33] Monte9 opened #38 "Status bar collides with header"
Relevant PR: https://github.com/react-native-elements/react-native-elements/issues/830

[2018-01-28 23:11] Monte9 commented on #30
Fixed. Try the expo app again.. I have published a new version.

[2018-01-28 23:11] #30 closed

[2018-02-19 22:40] oliverox opened #42 "Getting a warning "Invalid prop `text` of type `object` supplied to `Button`, expected `string`"
This happens when

[2018-02-19 22:41] oliverox opened #43 "Getting a warning "Invalid prop `text` of type `object` supplied to `Button`, expected `string`""
This happens when trying to pass an `<Icon />` component as text in a `Button` component.
Buttons should be able to accept Icons as text.

If I try to pass an `icon` property to `Button` without a `text` prop, the icon gets rendered to the left hand side of the button.

[2018-02-19 22:42] #42 closed

[2018-02-20 01:33] Monte9 commented on #43
This PR should fix the issue: https://github.com/react-native-training/react-native-elements-app/pull/41

[2018-03-07 07:16] Monte9 commented on #35
@LouisJS great suggestion. Yes, using `@expo/vector-icons` over `react-native-vector-icons` for a expo app is the way to go.

Feel free to submit a PR for this if you are interested. Should be fairly straight-forward.

[2018-03-12 05:35] vmelachervu opened #47 "Not Able to Clone in Windows with CMD terminal or Git Bash"
When I try to clone this project, the clone fails as below.

-----------------------------
E:\Venkat\Sources\expo>git clone --recursive https://github.com/react-native-training/react-native-elements-app.git
Cloning into 'react-native-elements-app'...
remote: Counting objects: 1289, done.
remote: Compressing objects: 100% (46/46), done.
remote: Total 1289 (delta 46), reused 66 (delta 32), pack-reus

[2018-03-12 05:55] vmelachervu commented on #47
Resolved it as below.
Step 0: "cd" to the directory you'd like to clone this project
Step1 : C:\>git clone https://github.com/react-native-training/react-native-elements-app.git (watch out the absence of "--recursive"
Step 2: After the above completes, C:\>cd react-native-elements-app
Step 3: npm install
Step 4: you can verify master branch as below after the previous step completes,
   C:\>cd nod

[2018-03-12 05:55] #47 closed

[2018-03-12 05:59] vmelachervu commented on #47
Was able to deploy the project derived from above instructions to android emulator through Expo. Some of the elements are missing the method attachment, though!

[2018-03-12 09:06] vmelachervu commented on #47
@Monte9 - would be glad to update the readme of this project on GitHub, if needed, with the above steps so that the new devs who wanna try this code would not get stuck. Let me know what you think.

[2018-03-16 17:15] montao opened #49 "How to eject and run as native on device"
Can I eject this project and create a native app that runs with native Android instead of expo?

Or is it only working with the expo?

Edit: I could run it as a native Android app with my Android device after (1) ejecting after adding eject script and (2) adding back node_modules by running npm install and then making a manual `gradlew assembleRelease` (3) deleted the Expo imports from the code (4

[2018-03-24 13:31] YashAgarwal opened #50 "Fatal error while cloning the git repo"
[code]
[code]

[2018-03-24 15:39] xavier-villelegier commented on #50
Thanks for reporting this @YashAgarwal, we'll look into it. In the meantime you can manually clone `react-native-elements` repo inside `node_modules`, or just do an `npm i`, you'll have the error of the submodule but you should have the original RNE from npm

[2018-03-25 17:18] montao opened #51 "Create a subview"
If I want to create a "subview", say every person in the list from the list view should have a detailed view when the user is clicked, I could create such a view for elements in the list, but if I open the detailed view then there is not tabbed view and if I swipe left to right and open the drawer from the detailed view then I get an error message about no route for the view.
[code]

[2018-03-26 14:34] montao commented on #51
Ok I found it in the project, it is "list_details" view and it works to include it. But I can't understand why it doesn't work to click the drawer back to the middle tab view from the profile or list or rating views. If I do that then the app crashes. I had to disable the drawernavigator from the middle tab(s) to avoid crashing states. This is not ideal. I want to learn how to use the drawernaviga

[2018-03-26 22:25] montao opened #52 "Navigating using the DrawerNavigator"
It's funny because if I navigate to the middle tab, then use the DrawerNavigator to navigate to the "profile" and then use the DrawerNavigator again to navigate to "components" then the app crashes with an error message about the routing.

[2018-03-27 17:11] montao commented on #52
Ok I figured it out...how to make it work with no crash. The problems was the same with several different independent apps: "No route" when navigating between screens using the drawer. I did some changes to the navigation system and now it is stable. If you are interested I can share the changes or make a PR.

[2018-03-27 17:11] #52 closed

[2018-03-27 23:44] Monte9 commented on #52
@montao glad you figured it out. It would be awesome if you could submit a PR for it.

Thanks in advance.

[2018-04-10 14:56] gianpaj commented on #50
I don't know about the permissions issue. I think that's more an SSH key issue with Github

But there's issue fetching a specific commit:

[code]

link to commit:
https://github.com/react-native-training/react-native-elements/commit/b5e7dee93fa86d219a5e1754c40fca9ae1d2002f

[2018-04-10 15:02] xavier-villelegier commented on #50
@gianpaj You can still clone manually the module inside the `node_modules` dir, same result in the Example app. We have to think of a way to make this easier to get live reload, for now this is the easiest we came up with

[2018-04-27 20:09] tkserver opened #53 "Can't git clone the app"
**When I try to clone this repo:**
it clone --recursive https://github.com/react-native-training/react-native-elements-app.git

**This happens:**
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

[2018-04-29 10:27] xavier-villelegier commented on #53
Duplicate of #50

[2018-04-29 10:27] #53 closed

[2018-05-14 02:29] lothsun opened #55 "Post Install Fail"
I have tried cloning and doing an npm i on the directory and this is what I get:

react-native-elements-app@1.0.0 postinstall /Users/blainehuff/Documents/Projects/demario/react-native-elements-app

fatal: destination path '/Users/blainehuff/Documents/Projects/demario/react-native-elements-app/node_modules/react-native-elements' already exists and is not an empty directory.
fatal: clone of 'git@git

[2018-05-14 07:28] xavier-villelegier commented on #55
@lothsun The setup for this app has to be reworked. In the meantime you can run
[code]

[2018-05-14 07:29] xavier-villelegier commented on #49
Hey @montao, sorry for the delay. Yea you can eject but you'll need to remove the `Expo` usage in the project

[2018-05-14 07:30] xavier-villelegier commented on #51
Closing this as it is not really related to this app but to React Navigation

[2018-05-14 07:30] #51 closed

[2018-05-14 07:31] xavier-villelegier commented on #55
Duplicate of #50

[2018-05-14 07:31] #55 closed

[2018-06-21 14:47] rahamin1 commented on #55
@lothsun @xavier-villelegier
## Hmmm... I am probably doing something stupid, but please help...

## I typed the following on my Windows 10 PC:
`git clone --recursive https://github.com/react-native-training/react-native-elements-app.git`

## and received:
[code]

## Following the instructions above:

- I deleted the node_modules\react-native-elements folder
- In the `react-native-elements-app` fo

[2018-08-16 20:43] navid-kalaei opened #58 "undefined is not an object (evaluating 'FS.bundledAssets')"
RNE demo app won't run due to this error:
![undefined](https://user-images.githubusercontent.com/7106251/44233785-126e2f00-a1ba-11e8-8496-ffb843e294e0.png)
The buggy code is located at `node_modules/expo/src/Asset.js`:
[code]

The package.json is:
[code]

Thanks in advance for considering this issue.

UPDATE:
I created a new project using `create-react-native-app` and copied the files and faced a

[2018-08-31 22:24] esbenvb commented on #50
Fixed in #59

[2018-09-06 02:24] ajshukury opened #60 "npm install doesn't work"
Running npm install takes about 15 minutes and finally fails with only .stage under node_modues.

`error code EINTEGRITY
12596 error sha512....`

Any thoughts?

![image](https://user-images.githubusercontent.com/14077606/45145345-68693d80-b18e-11e8-9a93-1bb901fb649d.png)

Tried couple of versions. Now trying with :
node 6.11.3 -  npm 4.6.1

[2018-10-12 22:48] gitowiec opened #62 "This project needs an update"
Expo says:
_This project uses Expo SDK v23.0.0. If you want to open this project, the author will need to update the project's SDK version._

I would like to view this library in Expo to decide if I want to use it.

[2018-10-14 19:29] kivul opened #63 "undefined is not a function (evaluating '_react3.default.forwardRef(forwardRef)')"
I keep getting this error.

I cloned the repository > deleted node_modules > npm install > npm start

Then scanned the QR code, got the loading screen and then this error.

[2018-10-14 20:39] DjarallahBrahim commented on #63
the same error !

[2018-10-17 19:09] Biplovkumar opened #64 "Eject Problem occured."
https://github.com/react-native-training/react-native-elements-app
I have used **react-native-elements-app** project as reference to build my own app, but i am facing problems when ejecting, need help.

[2018-10-17 19:11] Biplovkumar commented on #64
My app is also on app store and play store but i want to add crashanalytics in this but still stuck in this.
What shouls i do ?
all component are really awesome of react native elements.

[2018-10-17 19:41] Monte9 commented on #64
so the app that you have on the app store is a clone of this repo? Also it's possible that you are on an older version of Expo/CRNA & hence unable to eject.

Without seeing the error, I think the ejecting issue might be more relevant to the expo-cli repo.

[2018-10-17 20:51] Biplovkumar commented on #64
no, not clone ,i have only follow struture and components which is used in react naative elements doc. when i was beginer in react native then i start learning from this repo and this app is really awesome app in .
thanks for posting this repo.

please help if possible.
i have ejected successfully but when i run react native run android then not working.
what should i do ?
App.json : -

{
“expo”:

[2018-10-17 23:13] Monte9 commented on #64
can you tell me the exact error you see on Android?

What about iOS? are you able to run that successfully?

[2018-10-19 12:51] Biplovkumar opened #65 "Input Element Not supported in RNInit App"
I started new app from scrach( React native init ) but there input not wotk.
error occured when i implement input.
i think react native elements is the best library in react native.

Environment:-

{
  "name": "New app from Start",
  "version": "0.0.1",
  "private": true,
  "rnpm": {
    "assets": [
      "./assets/fonts"
    ]
  },
  "scripts": {
    "start": "node node_modules/react-native/local

[2018-10-19 19:30] Biplovkumar commented on #64
$ react-native run-android
Scanning folders for symlinks in /home/xxxx/Documents/React_App/trydetach/xxxxxxxx/node_modules (9ms)
JS server already running.
Building and installing the app on the device (cd android && ./gradlew installDebug)...

/home/xxxxx/Documents/React_App/trydetach/xxxxxxxx/android/app/src/main/java/com/XXXXXX/MainApplication.java:5: error: cannot find symbol
import com.facebo

[2018-10-23 12:26] MinasG commented on #62
We can't access the demo, could you please escalate this update?

[2018-10-23 15:21] Monte9 commented on #62
@MinasG @gitowiec ah right. The app hasn't been updated in a while. Sorry about that.

But our team is aware of this and one of use will publish an updated version within the next few days. Stay tuned!

[2018-10-25 16:38] Biplovkumar commented on #65
Any  updates ?

[2018-10-25 16:40] iRoachie commented on #65
Please report any issues with react-native-elements to the [official repo](https://github.com/react-native-training/react-native-elements). This repo is only for issues about the react-native-elements example app.

Your question was already answered on the main repo. https://github.com/react-native-training/react-native-elements/issues/1502

[2018-10-25 16:40] #65 closed

[2018-11-05 14:23] matwii commented on #63
Same error

[2018-11-05 14:24] iRoachie commented on #63
Hey guys, we have to update the example app. It's using an old alpha version of react

[2018-11-17 01:13] devaziz0 commented on #63
Same here

[2018-11-25 12:45] zlwu commented on #62
Any updates on the new demo? Expo is too aggressive on version updates and it did not maintain a good compatibility to previous versions. It might be much better to detach from expo and go back to original react-native build scripts.

[2018-12-04 06:31] jaspermendiola commented on #63
Same

[2018-12-05 09:11] goldfishinsky commented on #63
same

[2018-12-06 19:43] shawnventi commented on #62
Any update on this?

[2018-12-06 21:31] #63 closed

[2018-12-10 03:56] Monte9 commented on #62
@iRoachie has updated the app and the new version has been published to expo!

Please try it out and let us know if you have any other questions.

[2018-12-10 03:56] #62 closed

[2018-12-10 03:57] #50 closed

[2018-12-10 20:58] xavier-villelegier commented on #49
Closing this as inactive

[2018-12-10 20:58] #49 closed

[2018-12-10 21:01] xavier-villelegier commented on #64
If you want to eject without Expokit you must remove all usage of the `@expo` package too. Some docs about ejecting
https://docs.expo.io/versions/latest/expokit/eject
https://github.com/react-community/create-react-native-app/blob/master/EJECTING.md

[2018-12-10 21:01] #64 closed

[2018-12-10 21:03] xavier-villelegier commented on #60
Hey @ajshukury, sorry for the delay ! We updated the dependencies, you should be able to clone from `master` now 👌  ! Feel free to reopen if it still doesn't work.

[2018-12-10 21:03] #60 closed

[2018-12-10 21:04] xavier-villelegier commented on #58
Could you try to clone again from `master` and run it through the [Expo CLI](https://docs.expo.io/versions/v31.0.0/introduction/installation.html#local-development-tool-expo-cli) ?

[2018-12-18 12:21] iRoachie opened #71 "Toggle Switches don't change"
**Explain what you did**
I've been playing with the demonstration app using my Huawei Mate 10 Pro via Expo. On the Component form the binary toggle switch and the segmented control do not change when pressed.

**Expected behaviour**
I expect the input state to change

**Describe the bug**
Pressing the toggle switch just flashes, its state does not change (visually at least)

This effects

* Toggle

[2018-12-18 12:22] iRoachie commented on #71
Transferred from https://github.com/react-native-elements/react-native-elements/issues/1674

[2018-12-18 12:30] anthonycmain commented on #71
Link doesnt work

[2019-02-02 03:30] gbarnabic opened #72 "Unable to resolve "react-navigation" from "App.js""
I get Unable to resolve "react-navigation" from "App.js" after a clean install.  If I install it via: npm install react-navigation I then get an error in the expo that says: Expo Developer Tools is disconnected from Expo CLI. Use the expo start command to start the CLI again. If I uninstall react-navigation the Expo error goes away but the app then shows the original unable to resolve error.  Reac

[2019-02-03 03:08] iRoachie commented on #72
I couldn't replicate this.

Here's the steps I took.

- Clone repo
- cd react-native-elements-app
- npm install
- npm start

Works as expected.

[2019-03-13 00:53] zzAlexzz commented on #72
If you `npm install react-navigation`, you installed latest version which is 3.x. But this project is using version `1.5.8` which is out of date. You need to use their version to install this component:
- `yarn remove  react-navigation` (or `npm uninstall react-navigation`)
- add `react-navigation` with version `"react-navigation": "1.5.8"`
- `yarn` or `npm install`

I believe `react-navigation` n

[2019-03-29 05:15] Monte9 commented on #72
`react-navigation` has been updated to use `v3` thanks to @oxyii in [this PR](https://github.com/Monte9/react-native-elements-app/pull/74/commits/c93cfb29af08bd778754a2797edc9dc2c3d023aa).

Also, I have updated the readme with [up-to-date instructions](https://github.com/Monte9/react-native-elements-app#run-it-locally) on how to run the app locally & also on `web`. Hope this helps.

[2019-03-29 05:15] #72 closed

[2019-03-29 05:17] Monte9 commented on #58
We have made major improvements to this app such as updated Expo version, `react-navigation` v3, support for React Native Web` etc.

Also, I have updated the readme with [up-to-date instructions](https://github.com/Monte9/react-native-elements-app#run-it-locally) on how to run the app locally & also on `web`. Hope this helps.

[2019-03-29 05:17] #58 closed

[2019-03-29 05:27] Monte9 commented on #43
Should be fixed as the PR is merged. If this is an issue, lmk and I'll reopen it.

[2019-03-29 05:27] #43 closed

[2019-03-29 05:53] oxyii opened #76 "README proposal"
@Monte9 My english is bad, so I'll not change readme )))

I think *Build* must be before deploy. Something like this:

### Build it

(...build instructions, `yarn build:ios`, ..., `yarn build:web` ...)

### Deploy it

after `yarn build:web` you can see generated `build` folder. This folder can be hosted as static website. For example you can publish on [Github Pages](https://pages.github.com/) via

[2019-03-29 05:59] Monte9 opened #77 "Deploy RNW app to gh-pages"
Currently, I have it setup so that when you run `npm run deploy`, it uses the `gh-pages` npm package to publish the readme to the website here: https://react-native-elements.github.io/react-native-elements-app/

But we need the RNW project to be deployed on `gh-pages` instead.

@oxyii can you own this issue since you have it working on your fork already?

[2019-03-29 06:01] Monte9 commented on #76
haha this is related to #77. I just worked on the `gh-pages` deploy and ran into an issue.

Also I'll add the build step to the readme. I'll close this issue for now and let's coordinate this on #77

[2019-03-29 06:01] #76 closed

[2019-03-29 06:10] oxyii commented on #77
@Monte9 Hmmm... I don't see Settings tab on repo. What you see in `Options -> GitHub Pages` block?

[2019-03-29 06:11] Monte9 commented on #76
Updated readme here: https://github.com/react-native-elements/react-native-elements-app#deploy-web-app

[2019-03-29 06:15] oxyii commented on #77
Branch [gh-pages](https://github.com/react-native-elements/react-native-elements-app/tree/gh-pages) looks correct... And one more: in my case I install gh-pages globally. This is not app dep I think

[2019-03-29 06:15] Monte9 commented on #77
@oxyii let me add you as a collaborator on this project so you can push to master directly! 😉

Also that will allow you to see the settings and configure the `gh-pages` as needed. Also if it's not app dep then feel free to remove it from `package.json`. 👍

[2019-03-29 06:38] oxyii commented on #77
I can push into `gh-pages` branch but I cannot see Settings. Please check

![Выделение_001](https://user-images.githubusercontent.com/39907210/55214036-6f2cd000-5206-11e9-9c16-d282d3f4d28f.png)

[2019-03-29 07:00] Monte9 commented on #77
Updated! Looks like it worked! 🎉

<img width="967" alt="Screen Shot 2019-03-29 at 12 01 55 AM" src="https://user-images.githubusercontent.com/7840686/55215116-e6864380-51b5-11e9-9276-55b384695c51.png">

[2019-03-29 07:03] oxyii commented on #77
you beat me

![Выделение_001](https://user-images.githubusercontent.com/39907210/55215166-e6b02e80-5209-11e9-8eb3-ce206d1a0823.png)

[2019-03-29 07:03] #77 closed

[2019-03-29 13:53] oxyii commented on #35
Excuse me but now you cannot use `react-native-vector-icons` inside expo app. All your includes RNVI [force redirects](https://github.com/expo/expo/blob/master/packages/babel-preset-expo/index.js#L15-L22) to `@expo/vector-icons` by default. But expo does not include native modules RNVI and some RNVI features is not worked in expo app. I mean `getImageSource`.

[2019-03-29 13:53] #35 closed

[2019-03-29 13:57] oxyii commented on #33
@iRoachie @Monte9 If textfields placed inside `ScrollView` please try to add [`keyboardShouldPersistTaps`](https://facebook.github.io/react-native/docs/scrollview#keyboardshouldpersisttaps) prop with `always` value if issue still actually.

[2019-03-31 16:16] ratson opened #78 "Maintain a expo-free branch"
Re https://github.com/react-native-elements/react-native-elements-app/issues/64, https://github.com/react-native-elements/react-native-elements-app/issues/49, it is clear that people have difficulties using this app without expo.

Is there any interests having a branch with expo removed?
I could prepare a PR if needed.

[2019-04-01 12:30] iRoachie commented on #78
It would appear that the use case that we intended and what some persons are doing is different. In the issues you linked, persons are ejecting from the app to use it as a base for their own applications.

The main purpose of the example app is to show examples of react-native-elements components and how they can be combined and customized to make great user interfaces. This is in no means a start

[2019-04-01 14:06] ratson commented on #78
There could be many reasons why people are do so, I think one is people learning by modifying and it is not trivial to remove the expo-specific code. Or just missing high quality starter kits, so people find this could be a good one but eventually failed.

Feel free to close if it is out of scope.

[2019-04-01 14:17] iRoachie commented on #78
It's a good discussion, I think expo is actually the default way to build react native applications as recommended by react-native docs

[2019-04-01 16:04] ratson commented on #78
It is just about [different tradeoff](https://docs.expo.io/versions/latest/introduction/why-not-expo/).

Ejecting was supposed to help people move away from expo easily, but as it is certainly not the top priority of expo team, it ends up broken frequently and more difficult for more expo-specific code.

Having said that, expo is a good choice for beginner, just have to be aware the caveats.

[2019-04-01 16:47] Monte9 commented on #78
I think both of these are valid concerns. I can def see myself, trying to eject this project just so I have a good starting point for my own project with everything setup such as navigation, web support, RNE etc.

Although I would take a different approach to solving this. I don't create a different branch makes it very hard to maintain and those two branches will go our of sync really quickly. Wh

[2019-04-02 12:17] ratson commented on #78
I [created a branch](https://github.com/ratson/react-native-elements-app/tree/expo-eject) with ejected code. When I run `yarn ios`, it gives the following errors,

[code]

I am not sure how to fix it.

[2019-04-02 15:21] oxyii commented on #78
@ratson Check [this](https://stackoverflow.com/a/51487987)

[2019-04-03 15:09] ratson commented on #78
@oxyii Thanks for the reference, the error seems related react-native version, which is a expo fork.
I upgraded react-native to latest but still build with errors, you may continue the work from [the branch](https://github.com/ratson/react-native-elements-app/tree/expo-eject).

[2019-04-03 15:30] oxyii commented on #78
@ratson Everything is easier than it seems. Have you seen [expo instructions](https://docs.expo.io/versions/latest/expokit/eject/#instructions) for elect? I draw your attention to link in p. 2. This must be done **before** eject. I believe that expo in the course of eject independently arranges bundle identifiers in the native code. And without updating RN version everything should compile correct

[2019-04-04 01:38] ratson commented on #78
@oxyii I created https://github.com/react-native-elements/react-native-elements-app/pull/79
You may try `yarn eject:native` and run it, you should see the problem.

[2019-04-04 16:19] ratson commented on #78
Close this as there will be no expo-free branch and I am not going to fix expo eject issue anymore.

[2019-04-04 16:19] #78 closed

[2019-04-18 13:13] liorizik opened #80 "Not working react-native-elements with web"
./node_modules/@react-navigation/native/dist/Scrollables.js
Module not found: Can't resolve 'react-native-gesture-handler' in 'C:\xampp\htdocs\react\native\react-native-elements-app\node_modules\@react-navigation\native\dist'

So can you help me to manage to react native

[2019-04-18 17:01] Monte9 commented on #80
@oxyii can you help with this issue?

[2019-04-18 17:52] oxyii commented on #80
@liorizik Look: for all platforms support we include `react-native-gesture-handler` [twice](https://github.com/react-native-elements/react-native-elements-app/blob/master/package.json#L22-L23):

1. Last build of `1.0` for compatibility with `expo`

2. Version `1.1` for web support

see [this comment](https://github.com/react-native-elements/react-native-elements-app/pull/74#issuecomment-475649064)

[2019-04-21 01:14] oxyii commented on #80
@liorizik were you able to solve this issue? I'm still more inclined to missing deps...

[2019-06-17 21:11] AntoineWtrnd opened #82 "Don't use this. Full of bug. Not updated."
All in the title.

Don't use this. Full of bug, alway stucks on "javascript building : 2%"

I can easily create project without stuck.

Don't use this.

[2019-06-17 22:05] #82 closed

[2019-08-07 15:42] jgutierro opened #85 "Error with expo 34.0.0"
Please provide an updated example of the demo app with the latest expo version 34.0.0. Actually with this version of demo app if you try to [upgrade expo](https://docs.expo.io/versions/latest/workflow/upgrading-expo-sdk-walkthrough/) There's a lot of errors.

[2019-08-08 15:29] iRoachie commented on #85
Started the process on https://github.com/react-native-elements/react-native-elements-app/tree/update. Still having some issues with RNW.

[2019-08-09 15:37] bdombro opened #86 "Document if and how fonts.js is being used"
I'd love to know if and how the src/config/font.js  file is being used. Is it possible to use something like this system-wide using ThemeProvider or similar?

I don't see any mention of this file in the documentations.

[2019-08-09 18:02] iRoachie commented on #86
I don't think it's being used atm

[2019-08-09 23:13] oxyii commented on #85
@iRoachie We must totally recreate app. It will not touch screen files and navigation but will upgrade all deps. eg `@babel/polyfill` already deprecated, `react-native-gesture-handler` can work fine without tricks like [this](https://github.com/react-native-elements/react-native-elements-app/pull/74#issuecomment-475649064) and more, and more, and more. I'm working on it now.

[2019-08-09 23:36] iRoachie commented on #85
Ahh okay, lemme know if you need me to jump on anything

[2019-08-10 02:05] oxyii commented on #85
@iRoachie

Yep! This is a [lost fix](https://github.com/react-native-elements/react-native-elements-app/pull/74#issuecomment-470097579). I mean `React.forwardRef` in `PadView`

[2019-08-10 02:07] iRoachie commented on #85
Exactly why doesn't that work though in rnw?

[2019-08-10 02:16] oxyii commented on #85
I was able to run this app on web-platform after re-init on expo v34. Broken scrolls (I don't know why yet, will digging) and not working `Lists` tab because of forwardRef missing (see [facebook/react-native#1040](https://github.com/facebook/react-native/issues/1040))

[2019-08-10 03:54] iRoachie commented on #85
Based on that thread should we just wrap the children of all touchable components in a View?

[2019-08-10 04:13] oxyii commented on #85
I'm not sure... I know exactly about errors on web-platform exactly in PadView part of ListItem. I have never met this error anywhere else.

[2019-08-10 15:58] oxyii commented on #85
Move this discussion to PR #87

[2019-08-10 15:58] #85 closed

[2019-08-12 00:33] oxyii opened #89 "Update native and web app"
We need to update [native app](https://expo.io/@monte9/react-native-elements-app) after Expo SDK upgrading @Monte9

[2019-08-12 00:36] oxyii commented on #89
Web app too
![Screenshot at авг  12 03-35-25](https://user-images.githubusercontent.com/39907210/62841573-69fe8800-bcb2-11e9-919b-eb03f85adf9c.png)

[2019-08-13 14:52] bdombro commented on #86
Oh, okay thanks.

[2019-08-13 14:52] #86 closed

[2019-10-18 13:20] #71 closed

[2019-10-22 17:23] #31 closed

[2019-11-07 13:25] iRoachie commented on #33
Seems to be fixed now.

[2019-11-07 13:25] #33 closed

[2019-11-07 13:30] iRoachie commented on #38
Seems to be fixed

[2019-11-07 13:30] #38 closed

[2019-11-07 13:30] iRoachie commented on #89
Fixed.

[2019-11-07 13:30] #89 closed

[2019-11-07 13:31] iRoachie commented on #80
Fixed now, with expo-web

[2019-11-07 13:31] #80 closed

[2019-11-10 17:47] Monte9 commented on #32
Not enough detail on the issue. Please attach a screenshot if possible.

[2019-11-10 17:47] #32 closed

[2019-11-15 07:08] Ranjithkumartheegala opened #94 "react-native-elements issue"
Hi
I am cloning the same code of your git and import visual studio and install "npm install --save" then go to run "yarn start" it is running but it is showing below issue please solve this my problem Sir

![Screenshot from 2019-11-15 12-25-26](https://user-images.githubusercontent.com/57788696/68923492-76f4b100-07a4-11ea-8c81-17f2b6d16650.png)

[2019-11-15 07:12] Ranjithkumartheegala commented on #94
Hi Sir
This is the my project Screen shot of the issue please solve the issue as soon as possible sir.

![Screenshot from 2019-11-15 12-40-25](https://user-images.githubusercontent.com/57788696/68923785-22056a80-07a5-11ea-9b86-26935dc80188.png)

[2019-11-15 11:10] iRoachie commented on #94
Cc @Monte9

[2019-11-16 01:13] tberghuis commented on #94
rename file src/tabs/settings.js to src/tabs/Settings.js

[2019-11-17 15:27] tingzhouu commented on #94
Can i help to update the file reference?

[2019-11-18 14:48] iRoachie commented on #94
sure ting @tingzhouu

[2019-11-19 04:43] Ranjithkumartheegala commented on #94
solved my problem

On Mon, Nov 18, 2019 at 8:18 PM Kyle Roach <notifications@github.com> wrote:

[2019-12-14 20:27] YoLoveLife commented on #94
why not fix this problem.wwwwww
just allow pull request. thx

[2019-12-16 04:24] #94 closed

[2019-12-16 04:25] iRoachie commented on #94
@YoLoveLife Merged

[2019-12-22 20:10] kopax opened #96 "How to view from iOS"
Hi all, merry xmas!

I am testing expo and react-native-elements, I was able to open within the expo client on android the demo of react-native-elements-app.

When I do the same from iOS, I have :

[code]

I've read the link and they say it is not possible to view your app because it's not only possible to view mines.

Is there a way to test this react-native-elements on iOS?

Thanks for sharing a

[2019-12-22 20:14] #96 closed

[2020-05-03 10:51] dakshshah96 opened #100 "Failure while building JavaScript bundle"
While trying to run the app by doing `npm start` after performing `npm install`, Expo fails to build the JavaScript bundle and I get the following error message:

[code]

Installing `react-native-screens` as a dependency by doing `expo install react-native-screens` seems to have fixed the issue.

[2020-05-07 19:39] Monte9 commented on #100
Good catch. I have pushed a new commit dc81f7cf53b6161ce3566c1c134f44874d8da047 that should fix it.

[2020-05-07 19:39] #100 closed

[2020-06-10 08:29] jamesgeorge007 opened #102 "A warning shows up in regard to nesting VirtualizedLists within plain ScrollViews having the same orientation"
The respective warning pops up on launching the application:-
[code]

[2020-06-10 14:27] glsgolden opened #103 "Fonts/Entypo.ttf not found."
E:/Wokspace/REACTNATIVE_WORKSPACE/react-native-elements-app/src/helpers/vector-fonts.web.js
Module not found: Can't resolve '@expo/vector-icons/src/vendor/react-native-vector-icons/Fonts/Entypo.ttf' in 'E:\Wokspace\REACTNATIVE_WORKSPACE\react-native-elements-app\src\helpers'

[2020-06-19 15:00] thegeekybaniya commented on #103
+1 same issue

[2020-06-19 15:01] thegeekybaniya opened #104 "Error: Asset not found"
![image](https://user-images.githubusercontent.com/22905237/85146980-d0a5e800-b26b-11ea-8261-c3e3d84a66a2.png)

[2020-06-20 09:57] hardcodet opened #105 "Input UIs broken in expo demo app"
**Explain what you did**

Had a look at the components in the expo demo app. When focusing the "input" controls in the "Sign Up" example, the UI behaved the wrong way.

Device: Galaxy S10e, Android 10

**Describe the bug**

All input samples appear to be broken: when tapping one, I end up with the keyboard, the bottom bar on top of it, and then a big white block that covers most of the UI. In most

[2020-06-25 12:12] gajo357 opened #106 "Strange white space when using inputs"
In the Expo demo app on the Inputs tab when I start typing, there is a white space almost the height of half the screen.
![Screenshot_20200625_140737_host exp exponent](https://user-images.githubusercontent.com/19407603/85717327-b053ae80-b6ed-11ea-84f9-18172022f09f.jpg)

This is on a Huawei P30 Lite phone.
My colleague also noticed it on Xiaomi RedMi 7.

[2020-06-30 00:22] flyingcircle commented on #104
Check it out now

[2020-06-30 00:22] #104 closed

[2020-06-30 00:40] flyingcircle commented on #103
Check it out now.

[2020-06-30 00:40] #103 closed

[2020-06-30 00:55] flyingcircle commented on #102
Fixed

[2020-06-30 00:55] #102 closed

[2020-07-10 08:36] yangup commented on #103
same issue +1

[2020-07-10 09:58] yangup commented on #103
![image](https://user-images.githubusercontent.com/28469164/87142268-e5a7f100-c2d6-11ea-8dfa-2272ceb3c07e.png)

change 'src' to 'build'

[2020-07-10 11:19] yangup opened #110 "Module not found: Can't resolve 'react-native-web/dist/exports/ColorPropType'"
D:/study/react-native-elements-app/node_modules/expo-linear-gradient/build/LinearGradient.js
Module not found: Can't resolve 'react-native-web/dist/exports/ColorPropType' in 'D:\study\react-native-elements-app\node_modules\expo-linear-gradient\build'

![image](https://user-images.githubusercontent.com/28469164/87149172-54d71280-c2e2-11ea-9f13-2719d87696ce.png)

[2020-07-10 14:41] flyingcircle commented on #103
@yangup please submit a PR

[2020-07-16 17:14] cube-dan opened #112 "Expo app preview needs updating v34 => v35"
Greets Team RNE,

Just a quick heads up here. Your Expo preview app located here is non functional: https://expo.io/@monte9/react-native-elements-app

Instead of the app this error message is shown:
![IMG_3609](https://user-images.githubusercontent.com/8559668/87701332-abae7300-c74c-11ea-80bd-921a83a41a95.jpeg)

[2020-07-18 06:35] aekaisato commented on #112
The version of Expo I use (2.16.1 on Android) actually requires v37.0.0 of the Expo SDK. So, I agree that it needs updating.
[Screenshot_20200717-233404_Expo](https://user-images.githubusercontent.com/35282290/87846648-3e066200-c886-11ea-93c0-53da00639116.png)
Edit: it seems like the app itself is updated. It just needs publishing on Expo.

[2020-07-29 22:25] flyingcircle commented on #112
Updated to expo v38 and updated the link in the docs.

[2020-07-29 22:25] #112 closed

[2020-07-29 22:27] flyingcircle commented on #106
You can try again with the latest version. I no longer see this issue.

[2020-07-29 22:27] #106 closed

[2020-07-29 22:28] flyingcircle commented on #105
I updated the app, and I no longer see this happen. Let me know if this is still an issue.

[2020-07-29 22:28] #105 closed

[2020-07-30 13:55] tinhan opened #114 "Module not found: Can't resolve '@expo/vector-icons/src/vendor/react-native-vector-icons/Fonts/Entypo.ttf'"
Module not found: Can't resolve '@expo/vector-icons/src/vendor/react-native-vector-icons/Fonts/Entypo.ttf'

[2020-09-01 02:13] mryechkin opened #115 "Issue loading in Expo Client: SDK v35.0.0 minimum is required"
When I try loading the demo app in [Expo](https://expo.io/@monte9/react-native-elements-app), I get an error screen in Expo Client, with the following message:

[code]

Platform: **iOS**
Expo Client Version: **2.16.0.108985**

[2020-09-07 00:22] WillDent commented on #114
This only happens when trying to run the web version, not the mobile apps for me.

[2020-09-10 07:08] galoppi commented on #114
Change `src/helpers/vector-fonts.web.js` as follows:

[code]
The paths changed from `@expo/vector-icons/src/` to `@expo/vector-icons/build/`.

[2020-09-16 05:25] leonaburime commented on #110
Did you ever figure this out?

Also want to reference https://github.com/necolas/react-native-web/issues/1537

[2020-09-17 13:45] shauntarves opened #117 "Which branch/version is deployed?"
Hi,

Sorry for asking this basic question, but I'm trying to follow the source code and map it to the deployed web app at https://react-native-elements.github.io/react-native-elements-app/. I'm struggling to understand the navigation, specifically where the stack navigator that I see when I click on "Buttons" in the drawer navigator is defined.

[2020-10-06 15:10] flyingcircle commented on #115
`next` branch is on expo 39

[2020-10-06 15:10] #115 closed

[2020-10-06 15:11] flyingcircle commented on #117
I don't think this app would likely work for web, I use this repo for web related testing: https://github.com/react-native-elements/create-react-app-example

[2020-10-06 15:11] #117 closed

[2020-10-18 08:01] pk936 commented on #38
Same issue with me. Using "^2.3.2",

[2020-12-15 02:40] pranshuchittora opened #119 "Placeholder images no longer exists"
### Description
Placeholder images referenced from `S3` are no longer available.

https://github.com/react-native-elements/react-native-elements-app/blob/next/src/views/avatars.js#L11

![Screenshot from 2020-12-15 08-09-51](https://user-images.githubusercontent.com/32242596/102161227-ec9de580-3eac-11eb-8738-359573e57b5c.png)

[2021-03-11 16:12] abhishekkumar08 opened #120 "bug:search bar in settings not working properly"
**Explain what you did (Required)**
I was testing the react-native-elements-app. In this settings section the input search bar doesn't let me type anything. As soon as I enter anything the `onChange()` clears it.

** To Reproduce **
1. Use the react-native-elements-app
2. Go to the setting section.
3. Try to write in the search bar.

**Screenshots (Required)**

https://user-images.githubuserconten

[2021-03-12 12:32] HariAcidReign opened #121 "Incorrect styling of Italics in Button"
The text which was meant to be italicized wasn't. This resulted in a warning.

**The warning:**
![image](https://user-images.githubusercontent.com/58134096/110940418-e1980b80-835c-11eb-9691-8a8f1fb79cdd.png)

**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/110940467-f5437200-835c-11eb-8403-fd0aeb071dc7.png)

**Actual behavior:**
![image](https://user-images.githu

[2021-03-12 13:01] HariAcidReign opened #123 "Incorrectly aligned left triangle in Login inputs"
The left triangle is incorrectly aligned.

**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/110943256-03938d00-8361-11eb-9257-4a0248bc3be8.png)

**Actual behavior:**
![image](https://user-images.githubusercontent.com/58134096/110943313-13ab6c80-8361-11eb-9cda-f3d4b0d8ef2c.png)

[2021-03-12 13:16] HariAcidReign opened #125 "Incorrectly aligned icons in Sign-up inputs"
The icons inside the inputs (near the placeholder) were extending outside its boundary.

**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/110944924-1c9d3d80-8363-11eb-96fb-8ca4eeafd286.png)

**Actual behavior:**
![image](https://user-images.githubusercontent.com/58134096/110944959-258e0f00-8363-11eb-95c5-d030f8acd530.png)

[2021-03-12 13:38] HariAcidReign commented on #120
@abhishekkumar08 Good catch, but I think this one was intentional as this repo is only for showing the visual aspects of React Native Elements and not their functionality.
So, to stop this bug, the developer has to add an `onChangeText={...callTheTextChangeHandler...}` which they will do in their own app as per their requirements.
So, TLDR I think nothing can be done here. 🙌🏻

[2021-03-13 15:42] abhishekkumar08 opened #127 "Adding prettier as a dev dependency"
## Description
We can better add prettier to the repo: https://www.npmjs.com/package/prettier
So whenever we will run ```npm run prettify```, It will automatically format the whole code.
I can make a PR for that, if approved. The code does contain a script for prettier but it doesn't have the required dependency,
so if the user doesn't have ```prettier``` installed globally the command won't run.

[2021-03-13 15:52] abhishekkumar08 opened #128 "Issues with light theme"
## Description
The light theme makes it hard to read the logo of the app.

![image](https://user-images.githubusercontent.com/59651136/111035790-0914d400-8442-11eb-88dd-8eb1052b4b72.png)

**It should be as clearly visible as it is in dark mode.**

![image](https://user-images.githubusercontent.com/59651136/111035821-28136600-8442-11eb-98f7-4fa9ef0910bb.png)

**Working on this issue.**

[2021-03-13 15:57] #121 closed

[2021-03-13 15:58] #123 closed

[2021-03-13 15:58] #125 closed

[2021-03-13 16:11] abhishekkumar08 commented on #128
I think the logo is an SVG image, @pranshuchittora is there a way to change the colour of the SVG text?

[2021-03-13 16:42] abhishekkumar08 opened #129 "bug:eslint issue"
## Description
In the whole codebase eslint shows the error.
```delete ␍ eslint prettier/prettier```

![image](https://user-images.githubusercontent.com/59651136/111037185-15505f80-8449-11eb-8dee-a80792458806.png)

**Working on this.**

[2021-03-13 17:31] #120 closed

[2021-03-13 18:38] HariAcidReign opened #132 "Bug: No Landscape Mode support"
Why is there no support for landscape mode? Is it intentional, or has it just not been implemented yet?

**Behavior:**  On changing phone orientation, only the top status bar changes to the landscape. The entirety of the RNE app remains in portrait mode.

If this is indeed a bug, I am willing to work on it immediately 🙌🏻

[2021-03-14 14:47] HariAcidReign opened #133 "Bug: Disproportionate padding on Loading button"
The loading button currently has no padding at the bottom of the loading icon.

**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/111072788-1abdb080-8502-11eb-92ff-37894b300ce0.png)

**Actual behavior:**
![image](https://user-images.githubusercontent.com/58134096/111072793-201afb00-8502-11eb-9cd7-05bf2994d7a9.png)

[2021-03-14 15:03] HariAcidReign commented on #119
@pranshuchittora the `thumbProps` for Slider Vertical is not visible and the reason for that seems to be due to this issue. What can be done to solve this?
![image](https://user-images.githubusercontent.com/58134096/111073336-50fc2f80-8504-11eb-8941-ebcdab85ce52.png)
![image](https://user-images.githubusercontent.com/58134096/111073386-7ab55680-8504-11eb-9ee6-e392eb311100.png)

I can pick up this

[2021-03-15 06:53] khushal87 opened #135 "Toggle switch Button on Settings page doesn't work"
The toggle switch button on Settings page doesn't work. I can find a potential fix for it.

[2021-03-15 07:40] khushal87 opened #136 "Migrating class based components to functional components"
Currently some of the components in the views are **Class based** as per the latest Pull, Moving to **Functional component based approach** will be a great stuff and I believe that will be relevant for the application.

Example:

- pricing.js
- ratings.js
- settings.js(migrating will also solve the switch issue as it will be easy fix)
- profile.js
- inputs.js
- fonts;js
- button.js
- login/screen2

[2021-03-15 07:41] khushal87 commented on #136
I want to work on the same if it is not assigned to any one can I? Awaiting your reply for the same. Thanks @pranshuchittora @Monte9

[2021-03-15 07:42] khushal87 commented on #135
Can I work on it?

[2021-03-15 08:31] HariAcidReign commented on #135
@khushal87  Refer #120
I don't think this issue fix is required for the same reason
(The main reason is that this is just a demo app and not meant to be fully functional)

[2021-03-15 08:41] khushal87 commented on #135
Okay, But if a user while testing the demo app can't interact with these events won't this be misleading? @HariAcidReign

[2021-03-15 08:50] HariAcidReign commented on #135
Not necessarily, the app exists so that the developer can use these components in their own app, where they will add all the button functionalities that they need.

[2021-03-15 08:53] khushal87 commented on #135
Okay @pranshuchittora @Monte9 @flyingcircle @dabit3 Waiting for your review over the same and then I will close the issue if it is irrelevant.

[2021-03-15 14:24] #128 closed

[2021-03-15 14:24] #133 closed

[2021-03-15 14:25] #129 closed

[2021-03-15 14:27] flyingcircle commented on #132
Go for it

[2021-03-15 14:28] flyingcircle commented on #127
I think what is more common is `eslint` for this kind of task which is already there with `yarn lint`

[2021-03-15 14:28] #114 closed

[2021-03-15 14:50] #135 closed

[2021-03-15 14:52] #127 closed

[2021-03-15 14:54] flyingcircle commented on #136
If you run `yarn lint` I'm hitting a couple of these errors:
[code]

[2021-03-15 14:56] khushal87 commented on #136
I will fix it now.

[2021-03-15 15:00] khushal87 commented on #136
I am working on the linting warning and issues which are coming up. Thanks.

[2021-03-15 15:07] khushal87 commented on #136
@flyingcircle `'redButton' is assigned a value but never used` can this be ignored or fixed?

[2021-03-15 15:13] flyingcircle commented on #136
either or. If it's unused, then it can be deleted.

[2021-03-15 15:17] HariAcidReign commented on #132
Gotcha! 🚀

[2021-03-15 16:18] khushal87 commented on #136
Fixed by https://github.com/react-native-elements/react-native-elements-app/pull/139

[2021-03-15 16:47] khushal87 opened #140 "The web version of the app doesn't seem to work"
I tried running the application on web, but the app doesn't work and reports some errors. I want to fix them and see if I can make it work on web. This will give users a great flexibility. Can I pick up this issue? @flyingcircle

[2021-03-15 16:52] flyingcircle commented on #140
Go for it: Doing something like suggested here might be necessary: https://github.com/react-native-elements/react-native-elements-app/issues/114

[2021-03-15 16:53] khushal87 commented on #140
Yes, after fixing that, now I am getting
`C:/Users/hrith/react-native-elements-app/node_modules/react-native-touchable-scale/src/TouchableScale.js
Attempted import error: 'ViewPropTypes' is not exported from 'react-native-web/dist/index'.
URIError: Failed to decode param '/%PUBLIC_URL%service-worker.js'`
looking for a potential fix. Hope to get soon.

[2021-03-15 17:33] khushal87 commented on #140
Fixed and created a PR, awaiting feedback https://github.com/react-native-elements/react-native-elements-app/pull/141

[2021-03-15 18:02] khushal87 commented on #110
Are you running the application on web? See if https://github.com/react-native-elements/react-native-elements-app/pull/141 helps  you, it should work well. Thanks, feel free to inform if any other issue comes or if its related to other stuff. @yangup

[2021-03-15 18:25] #140 closed

[2021-03-15 18:57] abhishekkumar08 opened #142 "No logo on expo-web view of the app"
## Description
Logo doesn't seem to appear on expo-webview of the app.

## Screenshots
![image](https://user-images.githubusercontent.com/59651136/111206248-28506480-85ee-11eb-93e8-f8cfb2262c99.png)

[2021-03-15 19:07] khushal87 opened #143 "Work on the design fixes of the web app."
There are several ui/ux fixes which I plan to fix in the web app as is/are visible, to improve User experience. Thanks. Hope this is not assigned and I can pick up

[2021-03-15 19:08] khushal87 opened #144 "Add new components support"
There are some of the components which are officially there in the package but not shown in the application so I will to add the support for missing components and define views/add components for them. Thanks and hope this is not assigned to anyone.
Components/Views -

- [x] Checkbox
- [x] Tooltip
- [x] Overlay
- [x] Text Heading

[2021-03-15 19:15] abhishekkumar08 commented on #144
Could you please tell which component are you currently working on?

[2021-03-15 19:17] khushal87 commented on #144
Basically I have started with most of the components which are missing here, will create a PR tomorrow for the same.

[2021-03-15 19:23] abhishekkumar08 commented on #144
If you can be specific for the component, as I am also currently making the view of ```tooltip```, so no duplicates. Thanks.

[2021-03-15 19:25] khushal87 commented on #144
I am already done with tooltip and divider, would be picking up checkbox and others

[2021-03-15 19:28] khushal87 commented on #144
You can work on some other issues as I already have started with it.

[2021-03-16 02:41] #136 closed

[2021-03-16 02:42] flyingcircle opened #145 "Fix Typescript Errors"
I have recently converted all of the code to typescript. It should still compile just fine, but it would be nice to have the demo app be a good check on the correctness of the developer experience of using the library.

There are a lot of hanging typescript errors. This would be to go through and fix them so that `tsc` passes cleanly.

[2021-03-16 03:20] HariAcidReign opened #146 "Lots of tsx warnings on String quotes"
All the strings in the codebase show a "Strings must use singlequote. eslintquotes" warning.

They do not get cleared when I change the rules in `.eslintrc` to accommodate " as well

Looking for a solution and working on it, would love to get some pointers.

PS: This warning does not break the app, but it is a bit frustrating to see so many of these in the code

[2021-03-16 03:24] HariAcidReign opened #147 "Typo in Login Example"
**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/111251270-e8f93680-8634-11eb-9527-cae46ceb6d5d.png)

**Actual behavior:**
![image](https://user-images.githubusercontent.com/58134096/111251375-180fa800-8635-11eb-92e5-9449a7f16dbd.png)

[2021-03-16 03:45] HariAcidReign opened #149 "Thumbprop of Slider Vertical not rendering"
**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/111252733-cddbf600-8637-11eb-9815-e0f9fab87901.png)

**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/111252762-dd5b3f00-8637-11eb-99d9-d43ee6a4de9d.png)

### Reason for error
As referenced in #119 the image hosted on AWS was not rendering. So this fixes that issue as well.
Also, th

[2021-03-16 03:52] khushal87 commented on #145
I would like to take up this, and fix the issues.

[2021-03-16 04:10] khushal87 commented on #145
@flyingcircle Can you assign me this issue?

[2021-03-16 04:32] #147 closed

[2021-03-16 04:32] #149 closed

[2021-03-16 15:22] Abhishek765 opened #153 "Unnecessary Outline In Input fields"
**During testing the application I found out unnecessary outlines in input fields when they are focused:**

`Before :
`

![image](https://user-images.githubusercontent.com/43133456/111332886-2e028480-8698-11eb-8f05-037740dbb4a6.png)

![image](https://user-images.githubusercontent.com/43133456/111332939-38bd1980-8698-11eb-89d6-a9c0777e7398.png)

![image](https://user-images.githubusercontent.com/43

[2021-03-16 15:33] Abhishek765 commented on #153
Check the PR  #154 for the same

[2021-03-16 21:02] #153 closed

[2021-03-16 22:44] flyingcircle commented on #146
Fixed in #156

[2021-03-16 22:44] #146 closed

[2021-03-17 03:29] HariAcidReign opened #157 "Incorrect widths of tooltip components"
**Expected behavior:**
![image](https://user-images.githubusercontent.com/58134096/111410496-db0fe800-86fe-11eb-9247-cc33da90fa7e.png)
![image](https://user-images.githubusercontent.com/58134096/111410500-dd724200-86fe-11eb-8ced-bd71120aef3f.png)

**Actual behavior:**
![image](https://user-images.githubusercontent.com/58134096/111410509-e19e5f80-86fe-11eb-9f93-dca03b754f06.png)
![image](https://us

[2021-03-17 03:33] khushal87 commented on #157
Hey @HariAcidReign . Does that create much difference?

[2021-03-17 03:47] HariAcidReign commented on #157
Sure does! It's a good UI experience to see things fully working and rendering their text as they should :)

[2021-03-17 07:12] HariAcidReign commented on #144
Isn't `TextHeading` already in the app?

[2021-03-17 08:06] khushal87 commented on #144
There are 4 varieties of heading including h1, h2, h3, h4 which isn't shown up well on the app so I thought of making a new view for that. Although @flyingcircle I would appreciate your views over it. Thanks.

[2021-03-17 13:07] Abhishek765 opened #160 "Replaced the style attribute with inputStyle prop in Inputs components"
We don't need the `style` attribute in the **Input** component instead I replaced it with `inputStyle` **which is defined in docs also for changing the style of input field:**

Here's the doc reference I figured it out :

![image](https://user-images.githubusercontent.com/43133456/111470536-f9e99b00-874d-11eb-9482-50fb2aa1b88e.png)

_**Previously it was like ->which creates an unnecessary error in

[2021-03-17 13:45] #160 closed

[2021-03-17 16:52] #157 closed

[2021-03-18 02:51] #143 closed

[2021-03-18 13:55] Abhishek765 commented on #144
@khushal87 can you tell me how you add a new component like I want to know the steps regarding that If I want to add a new component, can you tell me?

[2021-03-18 13:56] khushal87 commented on #144
In this app or in the package? @Abhishek765

[2021-03-18 13:58] Abhishek765 commented on #144
@khushal87  Like I guess you add in Package or so?

[2021-03-18 13:59] Abhishek765 commented on #144
And I think the user should be able to add in their application just like other components

[2021-03-18 14:00] khushal87 commented on #144
If you are talking about this issue, this actually deals with adding missing components from the main package to this app so that user can test them too.

[2021-03-18 14:00] Abhishek765 commented on #144
Btw did you add in Package or in this current project

[2021-03-18 14:06] khushal87 commented on #144
I am working on adding a new component in main package, for this project we can only add components which exist in main package.

[2021-03-18 16:24] flyingcircle commented on #144
Yeah a view to show how the headings can be used can be helpful to people for sure.

[2021-03-18 17:07] khushal87 commented on #144
Okay, soon I will create a PR for the same

[2021-03-19 09:09] Abhishek765 opened #168 "LinearProgress is not rendered properly : import error: 'LinearProgress' is not exported from 'react-native-elements'"
During testing the Components found one Bug in LinearProgress:

![image](https://user-images.githubusercontent.com/43133456/111755777-7c459c80-88bf-11eb-89b4-2ce375435247.png)

Due to this Issue, the Component (LinearProgress) is not rendered Properly and we got only Blank Page:

![image](https://user-images.githubusercontent.com/43133456/111756712-8916c000-88c0-11eb-95e0-cb63b5dbe3c8.png)

**_We

[2021-03-19 09:13] Abhishek765 commented on #168
@arpitBhalla can you comment on this I think you added this component, right?

[2021-03-19 09:33] arpitBhalla commented on #168
@Abhishek765 let me check

[2021-03-19 09:39] arpitBhalla commented on #168
@Abhishek765 I hope after pulling you reinstall the package?....

[2021-03-20 01:52] flyingcircle commented on #168
This is not correct. You need to update the RNE code in the app `yarn add https://github.com/react-native-elements/react-native-elements`

[2021-03-20 01:52] #168 closed

[2021-03-21 05:27] #144 closed

[2021-03-23 17:25] HariAcidReign opened #177 "UI issues on Landscape mode"
Related to #176 PR

Created a checklist of all the UI components with issues in them. **I will be fixing all of these latest by tomorrow.**
- [x] Login and Signup (Weird alignment on Landscape) [Inputs]
- [x] Sign up and Beaux Voyages page alignment [Login Example]
- [ ] Slider Vertical [Slider] (The SliderVertical becomes small in size in Landscape but still maintains the maxVal of 50)
- [ ] Over

[2021-03-24 05:04] khushal87 commented on #142
@abhishekkumar08 Are you still working on it?

[2021-03-24 08:15] abhishekkumar08 commented on #142
@khushal87 I haven't find the solution to this issue, been busy for some days, if you could help me it would be very nice.

[2021-03-24 08:25] khushal87 commented on #142
@abhishekkumar08 Let me see it on my end. Thanks. I Will suggest a solution here

[2021-03-24 16:22] HariAcidReign commented on #177
Key problems I faced:
- ScrollView could **not** be added to Slider as it was messing up the fluidity of the Slider Vertical functionality. There are 2 ways of solving this (if necessary)
      1. Add ScrollView for Slider page, but disable Scrollview when sliding the thumbProp of SliderVertical (makes code messy)
      2. Separate window for SliderVertical (kinda overkill)
- Overlay, Tooltip, and

[2021-03-24 16:48] HariAcidReign opened #179 "UI in FAB screen"
1. The texts in the FAB screen are invisible in DarkMode
2. Alignment of all the components are clustered towards the top of the screen

[2021-03-24 17:26] khushal87 commented on #142
Hey @abhishekkumar08 You can see at my fix. Thank you.

[2021-03-26 00:42] #179 closed

[2021-03-26 00:42] #132 closed

[2021-03-26 00:43] #177 closed

[2021-03-27 18:22] khushal87 commented on #142
@abhishekkumar08 @flyingcircle @pranshuchittora  Please close the issue if it is resolved

[2021-03-27 18:23] khushal87 commented on #110
The issue can be closed now after the latest changes in the code done recently. Thank you. @flyingcircle @pranshuchittora @yangup

[2021-03-27 18:24] #142 closed

[2021-03-28 16:43] #119 closed

[2021-03-28 16:43] #110 closed

[2021-03-28 17:31] HariAcidReign commented on #177
@flyingcircle Overlay, Tooltip, and Bottomsheet still force render into portrait mode even when Landscape is used, when interacted with. I think the problem lies not in the app, but inherently within the component structure itself in RNE. Should any fix be searched to make them Landscape compatible, or can these screens alone be locked into Portrait mode in the app?

[2021-03-28 17:55] khushal87 commented on #145
The rest of the issues are coming up from the package `react-native-elements` therefore this can be closed. @flyingcircle

[2021-03-28 18:29] flyingcircle commented on #145
I'd prefer this stay open. If there's an issue showing up here, then we need a ticket written in RNE for it to be solved.

[2021-03-28 18:45] khushal87 commented on #145
The ticket is already there. I am working on the potential fixes of the same in the package. Reference - https://github.com/react-native-elements/react-native-elements/issues/2870 @flyingcircle

[2021-03-28 18:56] flyingcircle commented on #145
Great. Let's keep the ticket open here so that when it's done, we can validate that it's fixed here before closing.

[2021-03-29 12:03] khushal87 commented on #145
Yes. @flyingcircle

[2021-03-31 06:10] khushal87 commented on #145
I will try to handle the strict mode issues too soon. @flyingcircle Can I do so?

[2021-04-05 06:55] khushal87 opened #195 "Add playground and Document links to all the components/views in the app"
Currently the demo app doesn't guide user to look at playground or the documentation when a user is unable to get the props list or docs of a component/view. Therefore if we add the links to playground and the documentation, this can help al lot of users. I want to work on the same. Can I? @flyingcircle

[2021-04-05 07:06] TurtleWolfe opened #196 "UnMet Peer Dependency"
While trying to install the demo, First time I got an `unmet peer dependency of React **16.3.1** needing to be updated to **17.0.1** and it suggested adding the `--legacy-peer-deps`
when I tried that I got a `corrupted hash sha`

![Screenshot from 2021-04-05 02-31-59](https://user-images.githubusercontent.com/7327259/113547410-d92d9c00-95bb-11eb-933f-9880f81ee706.png)
![Screenshot from 2021-04-05

[2021-04-11 05:36] khushal87 opened #201 "Fix strict Typescript issue in the demo-app"
Currently, there are 150+ errors/warnings coming up from the app when we run `tsc --watch` on strict mode `true`. Therefore, I want to resolve them so that users will have a clean experience in the app.

Can I work on this issue @flyingcircle @pranshuchittora

[2021-04-19 01:21] flyingcircle commented on #196
use `yarn`

[2021-04-19 01:21] #196 closed

[2021-04-19 03:51] TurtleWolfe commented on #196
Is that really the only option and enough to close this over.. I hate yarn and use npm for everything

[2021-04-19 03:55] TurtleWolfe commented on #196
I guess I'll try it for a demo, I'm just looking at the code samples.. still feels odd

[2021-04-19 19:25] #195 closed

[2021-05-10 15:42] ydhao opened #218 "DividerView cannot import colors correctly, prompting that "Module not found: Can't resolve 'react-native-elements/src/config/theme' in...""
As title

[code]

[2021-05-12 12:35] khushal87 commented on #218
Sorry, @ydhao for the issue. I have fixed it and you will get this updated soon once my PR is merged

[2021-05-23 18:46] #218 closed

[2021-08-10 17:27] asheroto opened #230 "Can't resolve 'react-native-elements-universe'"
Followed the steps in order but getting this error when I click "Run in web browser".

![image](https://user-images.githubusercontent.com/49938263/128906438-f135d502-b97b-4eea-8581-5c4bf35a66e9.png)

[2021-08-18 18:01] Sammybeau opened #231 "Licensing?"
Hi, I was just wondering if I use this project as a base starting point for my application, is this repo under the same MIT license as react-native-elements? I don't see anything about licenses and how this could be used as a starting point for a commercial product. Thanks!

[2021-09-06 21:38] amitrke opened #232 "App fails to start on Apple device"
I followed the steps

1. Cloned repo
2. Checked the default branch to be next
3. npm i
4. npm start

No errors seen so far, when I scan the QR code from my Apple phone, I see an error on the screen and I see the following error in the console

[code]

[2021-09-20 02:39] susaurabh-git opened #233 "Bottom Navigation is not available on android"
@arpitBhalla  When I ran the demo app on android device and emulator, I don't see the bottom navigation, please look into this
<img width="371" alt="Screen Shot 2021-09-19 at 10 37 27 PM" src="https://user-images.githubusercontent.com/20015708/133952446-49b35d7a-4997-4432-8e45-e315713d9bcb.png">
.

[2021-09-20 02:40] susaurabh-git commented on #230
Use following command
`npm install react-native-elements-universe --save`

[2021-09-20 03:34] arpitBhalla commented on #233
There is no bottom navigation 🙄

[2021-09-21 01:25] susaurabh-git commented on #233
@arpitBhalla - Interestingly, I saw the bottom navigation on "https://react-native-elements.github.io/react-native-elements-app " as well as on the readme page of this application.

<img width="1271" alt="Screen Shot 2021-09-20 at 9 22 08 PM" src="https://user-images.githubusercontent.com/20015708/134098185-6d438376-b5f0-45ac-b23b-25d1f32584de.png">

<img width="251" alt="Screen Shot 2021-09-20 at

[2021-09-21 01:32] susaurabh-git commented on #232
@amitrke
Run following command

1. `npm install react-native-elements react-native-elements-universe  react-native-ratings --save`
2. `npm i `
3. `npm start`

[2021-09-21 13:34] amitrke commented on #232
@susaurabh-git would it be better if I go ahead and add those dependencies to package.json and create a pull request ?

[2021-09-22 00:04] susaurabh-git commented on #232
These dependencies are already in package.json
`  "react-native-elements": "https://github.com/react-native-elements/react-native-elements#dist",`
 ` "react-native-elements-universe": "https://github.com/react-native-elements/react-native-elements-universe#dist",`

[2021-09-22 01:10] amitrke commented on #232
If all the dependencies are already part of package.json then why do they not get installed using the command `npm i`

[2021-09-29 03:33] Sammybeau commented on #231
Any updates on this? This is in no way a republishing of the project, but merely using it as a starting point (and deleting or refactoring the vast majority of it). Thanks!

[2021-10-01 16:16] susaurabh-git commented on #233
@arpitBhalla you are correct, I checked the code. there is no bottom tab. I tried using '@react-navigation/bottom-tabs' but it is conflicting. I am getting the following error
<img width="502" alt="Screen Shot 2021-10-01 at 12 08 50 PM" src="https://user-images.githubusercontent.com/20015708/135652913-deedf732-296a-48ec-9535-d52e9a179781.png">
**dependencies:**
`    "@react-navigation/bottom-tabs"

[2021-11-11 00:18] JoeToeniskoetter opened #234 "ListItem typescript errors upgrading from 2.3.2"
I'm receiving the following Typescript error for  `ListItem.Title` , `ListItem.Subtitle`, `ListItem.Content` when upgrading from 2.3.2

[code]

[2021-11-11 12:54] JoeToeniskoetter commented on #234
Moving issue to main github project

[2021-11-11 12:54] #234 closed

[2022-01-15 20:38] kelvin-dev opened #235 "Cannot run the sourcebase from new clone"
Hi team, please help revise the README and help resolve the issue;

[code]

[code]
Cheers,

[2022-01-15 20:47] arpitBhalla commented on #235
Hey, demo app has been migrated to the main repo,
Follow this guide to setup locally
https://github.com/react-native-elements/react-native-elements/blob/next/website/docs/repo/contributing.md#setup

[2022-01-15 21:03] kelvin-dev commented on #235
Dear bro, there is still be problem from the main repo, would you please update the README guide

[code]

which may cause blank screen issue

![screenshot-2022-01-16_04 26 25 461](https://user-images.githubusercontent.com/19224355/149638234-f6f80127-71b1-4635-816d-caa4accb5743.png)

[2022-02-23 09:23] guillem-gelabert commented on #232
I have the same problem trying to publish the demo App as [this one](https://expo.io/@monte9/react-native-elements-app) doesn't work. I tried the steps mentioned by @susaurabh-git and also `yarn clean-install`. Which outputs the following:

[code]

[2022-02-23 09:58] guillem-gelabert commented on #232
Fixed by:
1. Remove `react-native-elements-universe`, `react-native-elements` and `react-native` from package.json
2. `yarn add react-native-elements-universe react-native-elements react-native from package.json`

[2022-03-07 04:03] bunny-pu commented on #230
I'm facing the same issue, and the command doesn't work
"npm start" and press "run in web browser"